body {
    min-height: 100%;
    min-height: 100vh;
    background: #e5e5e5;
    background-image: linear-gradient(#a6f2de, white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.site-header {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    margin: 0 0 0 25px;
}

/*
.navbar {
	background-color: #232f3e !important;
	margin-bottom: 25px;
}

footer {
    background-color: #232f3e !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.footerfix {
    min-height: calc(100vh - 140px)
}

.mainheader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 25px 0px 35px 0px;
}

*/

.navbar {
	background-color: #179b77 !important;
	margin-bottom: 25px;
}


footer {
    background-color: #232f3e !important;
    bottom:0;
    width:100%;
    margin-top:40px;
    position:absolute;

}

.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cardText {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
}

.userProfile{
   color:white;
   font-size: 2rem;
   background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 25rem;
    margin-top: 1.5rem;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);

}

.cardImg img{
    height: 20rem;
    width: 25rem;
}

.discoverFilters{
   color:white;
   font-size: 2rem;
   background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 65rem;
    margin-top: 1.5rem;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.cardBtn a{
      text-align: center;
      display: block;/**Added This**/
      margin: 0 auto; /**Added This**/
}

.logoImage{
    height: 5.2rem;
    width: 14rem;
    margin-top: 2px;
    margin-left: 10px;
}

/* about us page
Referenced from: https://github.com/chidrome/recipes-client-side/blob/master/src/scss/_module.scss
*/

.aboutUs{
text-align: center;
}

.aboutUsDiv{
  display: flex;
  width: 80%;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  }

  .aboutSaurav .aboutKishor .aboutWilliams .aboutSudip .aboutDoug{
    width: 30%;
  }

   .sauravPara, .kishorPara, .sudipPara, .williamsPara, .dougPara{
    width: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .ourImage {
    width: 400px;
    height: 400px;
    border-radius: 200px;
  }

   #williamsImage{
    transform: rotate(90deg);
   }

   .minHeight{
        padding-bottom:15%;
   }