body {
    min-height: 100%;
    min-height: 100vh;
    background: #e5e5e5;
    background-image: linear-gradient(#a6f2de, white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-header {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    margin: 0 0 0 25px;
}

/*
.navbar {
	background-color: #232f3e !important;
	margin-bottom: 25px;
}

footer {
    background-color: #232f3e !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.footerfix {
    min-height: calc(100vh - 140px)
}

.mainheader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 25px 0px 35px 0px;
}

*/

.navbar {
	background-color: #179b77 !important;
	margin-bottom: 25px;
}


footer {
    background-color: #232f3e !important;
}

.footerfix {
    min-height: calc(100vh - 140px)
}

.cardText {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
}
