<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="/css/main.css" rel="stylesheet" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
<h1>MEET THE TEAM</h1>
<h2>Sudip Adhikari</h2>
<img src="https://media.licdn.com/dms/image/C5603AQGMtfs2OcMOnQ/profile-displayphoto-shrink_800_800/0?e=1570060800&v=beta&t=aBr4QCKUIXj1mrpNva9iMOvweGc_lDwGRVcd56Y9fm8">
<p>A dedicated and hardworking software development engineer apprentice with outstanding problem
    solving and troubleshooting skills, recently transitioned out of military after four years of
    honorable service. Able handle multiple tasks simultaneously under immense pressure with extreme
    composure and professionalism. Respected team worker and leader, able to accomplish individual
    and group objectives with timeliness and safety. </p>

<h2>Williams Osunkwo</h2>
<img src="https://github.com/team-toolee/toolio/blob/dev/src/main/resources/static/img/55194547-F6E1-4B48-B988-DBE284B8E678.jpeg?raw=true">
<p>My name is Williams Osunkwo, I am a SDE Apprentice at AWS.
    I am originally from Nigeria. I came to the US in 2013 and currently
    live in Seattle WA. I obtained a Bachelors degree in computer science and
    an associates degree in information technology from Cameron University in 2018,
    after which I enlisted in the US Army Reserves and I am currently serving
    in a reserve center at JBLM. Before joining Amazon I worked as a Technical
    Solutions Analyst at Cerner Corporation. My favorite thing to in my free time
    is travel and play soccer </p>

<h2> Kishor Pandey</h2>
<img src="https://media.licdn.com/dms/image/C5603AQEhap5bU_jc1A/profile-displayphoto-shrink_800_800/0?e=1570060800&v=beta&t=AWs5TgOtShWWyqiQbzyq2aJH68TqnHeQvwXxY9qmdk4">
<p>I am a Software Development Apprentice at AWS, Directory Services team. My most recent experience has been handling petroleum at
    US Army. In the Army, I supported an organization of 500 employee, about 300 motor vehicles and equipment with petroleum products.
    One reason I particularly am enjoy coding is the challenges we face to build awesome applications. Being a new field, feels like
    even more challenging. I graduated from Metropolitan State University, Saint Paul MN majoring in Management Information Systems.
    Here at Code Fellows, I feel I am learning a lot to become a successful at programming. I like playing ping-pong in my free time.
    I was born and raised in Pokhara, Nepal which is also a rainy city like Seattle.</p>

<h2>Doug Klemp</h2>
<img src="https://media.licdn.com/dms/image/C5603AQG7aGYOLTvAsg/profile-displayphoto-shrink_800_800/0?e=1570060800&v=beta&t=dx3wYzC2FwOnnI3Z2TPNDQmKQvJ9Q8LbGFb4D0-D1ZE">
<p>Professional handyman in real life. And now in the matrix. </p>

<h2>Saurav Kadariya</h2>
<img src="https://media.licdn.com/dms/image/C5103AQFoUfOqEDHPFg/profile-displayphoto-shrink_800_800/0?e=1570060800&v=beta&t=-TfHs4FgvvEReaE-gkN4s5m9nJB8vTFKfovKpUnbGkc">
<p>Hello. I am Saurav, a US Army veteran. I graduate from South Dakota State University and worked there for
    3 years as a .Net Developer.  Fixing one bug at a time!</p>
</body>
</html>