<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Error</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link href="/css/main.css" rel="stylesheet" />
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet"
              th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css}"
              href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
    </head>

    <body>
    <div th:replace="fragments/header :: header"></div>


    <h1>Error!</h1>
    <table>

        <thead>
        <tr>
            <th>Path</th>
            <th>Error</th>
            <th>Status</th>
            <th>Message</th>
        </tr>
        </thead>

        <tr>
            <td th:text="${path}"/>
            <td th:text="${error}"/>
            <td th:text="${status}"/>
            <td th:text="${message}"/>
        </tr>
    </table>

    </body>

</html>


<!--//Reference: https://github.com/codefellows/seattle-java-401d4/blob/master/class-16/demo/dinosaurs/src/main/resources/templates/error.html-->
<!--https://raw.githubusercontent.com/team-char/pet-expenses-tracker/develop/src/main/resources/templates/error.html-->