<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!--scripts for bootstrap alerts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src='//cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js'></script>
    <script src="//cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link href="/main.css" rel="stylesheet" />
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<main>
    <h1>Welcome to Toolio</h1>
    <!--alert-->
    <div th:if="${error.equals('notUnique')}">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Requires!</strong> unique user name.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <p>Please select a unique user name and password for your account.</p>
    <form method="POST" action="/register">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Enter username" name="username" required/>
        </div>
        <div class="form-group">
            <input class="form-control" id="password" type="password" placeholder="Enter password" name="password" required/>
        </div>
        <div class="form-group">
            <input class="form-control" id="conformPassword" type="password" placeholder="Re-Enter password"  />
        </div>
        <div class="form-group">
            <input class="form-control" id="email" type="email" name="email" placeholder="John@Email.com"  required/>
        </div>
        <div class="form-group">
            <input class="form-control" id="phone" type="number" name="phoneNumber" placeholder="5555555555"  required/>
        </div>
        <div th:if="${cities != null}">
            <select class= "form-control" name="city" for="city" placeholder="Select the city" required>
                <option id="city" th:each="city : ${cities}" th:value="${city}" th:text="${city}"></option>
            </select>
        </div>
        <!--alert based on password or conform password-->
        <div id="checkPasswordMatch"></div>
        <div class="form-group">
            <button type="submit" id="submit" class="btn btn-primary" >Create Account</button>
        </div>
    </form>
</main>
</body>
<!--Script for checking both password field matches or not-->
<script>
        function checkPasswordMatch() {
            var password = $("#password").val();
            var confirmPassword = $("#conformPassword").val();

            if (password != confirmPassword)
            {
                $("#checkPasswordMatch").html("Passwords do not match!").css('color', 'red');
                $('#submit').prop('disabled', true);
            }
            else
            {
             $("#checkPasswordMatch").html("Passwords match.").css('color', 'green');
            $('#submit').prop('disabled', false);
            }
        }

        $(document).ready(function () {
            $("#password, #conformPassword").keyup(checkPasswordMatch);
        });
    </script>
</html>